*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.main-top-block
{
    background-image: url(../images/top_block_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
}

.main-top-block__menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 940px;
    margin: 0 auto;
    padding-top: 20px;
}

.menu__logotype_light
{
    font: 26px/1 Lora;
    color: #FFFFFF;
}

.menu__items_solid
{
    display: flex;
    justify-content: space-around;
    max-width: 376px;
    width: 100%;
    font: 12px Oxygen;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.menu__item_light
{
    color: #FFFFFF;
    text-decoration: none;
}

.menu__item_light:hover
{
    color: #FFFFFF;
    text-decoration: underline;
}

.main-top-block__heading
{
    text-align: center;
    margin: 131px 0 0;
    padding-bottom: 157px;
}

.heading__title
{
    font: 50px/1 Lora;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.heading__subtitle
{
    font: 17px/20px Oxygen;
    margin: 20px 0 31px;
    color: #FFFFFFA1;
}

.heading__button
{
    display: block;
    font: 13px/44px Oxygen;
    color: #FFFFFF;
    text-decoration: none;
    width: 167px;
    margin: 0 auto;
    background-color: #DD783F;
    border-radius: 3px;
}

.heading__button:hover
{
    color: #FFFFFF;
    background-color: #DB6622;
}

.subjects
{
    max-width: 960px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    margin: auto;
    padding: 22px 0 23px;
}

.subjects__item
{
    display: flex;
    flex-basis: 139px;
    justify-content: center;
    font: 14px/20px Lora;
    color: #768088;
    text-decoration: none;
}

.subjects__item:hover
{
    color: #768088;
    text-decoration: underline;
}

.main-middle-block
{
    background-color: #F7F7F7;
    padding-bottom: 89px;
}

.main-middle-block__featured-posts
{
    max-width: 940px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 23px;
    column-gap: 20px;
    padding: 60px 0 7px;
}

.main-middle-block__divider_dark
{
    position: relative;
    width: 100%;
    text-align: center;
    font: 20px/27px Oxygen;
    letter-spacing: 2px;
    color: #2E2E2E;
    padding-bottom: 16px;
}

.main-middle-block__divider_dark::after
{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(50% - 94px);
    width: 188px;
    height: 1px;
    background-color: #DEDEDE;
}

.main-middle-block__featured-post-one
{
    background-image: url(../images/the_road_ahead.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 460px;
    width: 100%;
    min-height: 280px;
    border-radius: 3px;
    padding: 0 20px;
}

.main-middle-block__featured-post-two
{
    background-image: url(../images/from_top_down.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 460px;
    width: 100%;
    min-height: 280px;
    border-radius: 3px;
    padding: 0 20px;
}

.featured-post__title_light
{
    font: 27px/30px Lora;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: auto;
}

.featured-post__subtitle_light
{
    font: 14px/25px Oxygen;
    color:#FFFFFFB2;
    margin: 6px 0 12px;
}

.featured-post__author-info_light
{
    display: flex;
    align-items: center;
    width: auto;
    margin-bottom: 15px;
    padding: 5px 0 4px;
}

.featured-post__author-name_light
{
    font: 12px Oxygen;
    text-decoration: none;
    color:#FFFFFFB2;
    margin: 0 10px;
}

.featured-post__date_light
{
    font: 12px Oxygen;
    color:#FFFFFFB2;
    min-width: fit-content;
    margin-left: auto;
}

.featured-post__label
{
    text-align: center;
    font: 12px/26px Oxygen;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 87px;
    background-color: #DD783F;
    border-radius: 2px;
    margin-top: 20px;
}

.main-middle-block__recent-posts
{
    max-width: 940px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 24px;
    padding: 60px 2px 19px;
}

.main-middle-block__recent-post
{
    display: flex;
    flex-direction: column;
    max-width: 296px;
    min-height: 291px;
    border-radius: 3px;
    background-color: #FFFFFF;
}

.recent-post__image
{
    max-width: 296px;
    max-height: 150px;
}

.recent-post__title_dark
{
    font: 16px/21px Lora;
    text-decoration: none;
    color: #101315;
    margin: 14px 13px 6px;
}

.recent-post__subtitle_dark
{
    font: 13px/19px Oxygen;
    color: #7A7A7A;
    margin: 0 13px auto;
}

.recent-post__author-info_dark
{
    display: flex;
    align-items: center;
    width: auto;
    padding: 12px 13px 10px;
    border-top: 1px solid #EFEFEF;
    margin-top: 13px;
}

.recent-post__author-pic
{
    max-width: 26px;
    max-height: 26px;
    border-radius: 60px;
}

.recent-post__author-name_dark
{
    font: 11px Oxygen;
    text-decoration: none;
    color: #999999;
    margin: 0 10px;
}

.recent-post__date_dark
{
    font: 12px Oxygen;
    color:#999999;
    min-width: fit-content;
    margin-left: auto;
}

.bottom-block
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom-block__divider_light
{
    position: relative;
    width: 100%;
    text-align: center;
    font: 25px/30px Oxygen;
    color: #EFEFEF;
    margin: 81px auto 20px;
    padding-bottom: 17px;
}

.bottom-block__divider_light::after
{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(50% - 94px);
    width: 188px;
    height: 1px;
    background-color: #DEDEDE;
}

.bottom-block__form
{
    display: flex;
    max-width: 500px;
    width: 100%;
    height: 50px;
    margin: 0 auto;
}

.form__input
{
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    outline: none;
    background-color: #FFFFFF;
    padding: 0 35px;
    border-radius: 3px 0 0 3px;
}

input:focus::-webkit-input-placeholder 
{
    color: transparent;
}

.form__button
{
    min-width: 125px;
    height: 100%;
    color: #F8F8F8;
    background-color: #FFFFFF47;
    border-radius: 0 3px 3px 0;
}

.form__button:hover
{
    background-color: #FFFFFF80;
    cursor: pointer;
}

.bottom-block__footer
{
    background-color: #232F3899;
    border-top: 1px solid #FFFFFF1F;
    margin-top: 90px;
    padding: 31px 0 32px;
}

.bottom-block__menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.menu__items_transparent
{
    display: flex;
    justify-content: space-between;
    max-width: 272px;
    width: 100%;
    font: 11px Oxygen;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.menu__item_transparent
{
    color: #FFFFFF99;
    text-decoration: none;
}

.menu__item_transparent:hover
{
    color: #FFFFFF99;
    text-decoration: underline;
}

.article-top-block
{
    background-color: #FFFFFF;
}

.menu__logotype_dark
{
    font: 26px Lora;
    color: #2E2E2E;
}

.menu__item_dark
{
    color: #2E2E2E;
    text-decoration: none;
}

.menu__item_dark:hover
{
    color: #2E2E2E;
    text-decoration: underline;
}

.article-top-block__title
{
    font: 50px/1 Lora;
    letter-spacing: 2px;
    text-align: center;
    color: #2E2E2E;
    margin-top: 104px;
}

.article-top-block__subtitle
{
    font: 17px/20px Oxygen;
    text-align: center;
    color: #2E2E2EA1;
    margin: 20px 0 113px;
}

.filler__image
{
    background-image: url(../images/the_road_ahead_article.jpg);
    min-height: 534px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
}

.article-middle-block
{
    background-color: #F7F7F7;
    padding: 140px 0 135px;
}

.article-middle-block__paragraph
{
    font: 24px/35px Oxygen;
    color: #101315;
    max-width: 960px;
    margin: 0 auto 35px;
}