*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.main-top-block
{
    background-image: url('/static/img/top_block_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.main-top-block__menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 940px;
    margin: 0 auto;
    padding: 20px 40px 0;
}

.menu__logotype_light
{
    font: 26px/1 Lora;
    color: #FFFFFF;
}

.menu__items_solid
{
    display: flex;
    justify-content: space-around;
    max-width: 376px;
    width: 100%;
    font: 12px Oxygen;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.menu__item_light
{
    color: #FFFFFF;
    text-decoration: none;
}

.menu__item_light:hover
{
    color: #FFFFFF;
    text-decoration: underline;
}

.menu__burger-button
{
    display: none;
}

.menu__burger-line
{
    width: 35px;
    height: 2px;
    background-color: #D9D9D9;
    margin-bottom: 5px;
}

.menu__burger-line_dark
{
    width: 35px;
    height: 2px;
    background-color: #2E2E2E;
    margin-bottom: 5px;
}

.menu__burger-menu
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    row-gap: 15px;
    position: absolute;
    top: 0;
    right: -115px;
    width: 115px;
    height: 130px;
    background-color: #00000080;
    font: 12px Oxygen;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    transition: right 0.3s;
    padding-right: 20px;
    border-radius: 0 0 0 5px;
    z-index: 2;
}

.opened
{
    right: 0;
}

.menu__layout
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #00000030;
    z-index: 1;
}

.main-top-block__heading
{
    text-align: center;
    margin-top: 131px;
    padding-bottom: 157px;
}

.heading__title
{
    font: 50px/1 Lora;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.heading__subtitle
{
    font: 17px/20px Oxygen;
    margin: 20px 0 31px;
    color: #FFFFFFA1;
}

.heading__button
{
    display: block;
    font: 13px/44px Oxygen;
    color: #FFFFFF;
    text-decoration: none;
    width: 167px;
    margin: 0 auto;
    background-color: #DD783F;
    border-radius: 3px;
}

.heading__button:hover
{
    color: #FFFFFF;
    background-color: #DB6622;
}

.subjects
{
    max-width: 960px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    margin: auto;
    padding: 22px 0 23px;
}

.subjects__item
{
    display: flex;
    flex-basis: 139px;
    justify-content: center;
    font: 14px/20px Lora;
    color: #768088;
    text-decoration: none;
}

.subjects__item:hover
{
    color: #768088;
    text-decoration: underline;
}

.main-middle-block
{
    background-color: #F7F7F7;
    padding: 0 33px 89px;
}

.main-middle-block__featured-posts
{
    max-width: 940px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 23px;
    column-gap: 20px;
    padding: 60px 0 7px;
}

.main-middle-block__divider_dark
{
    position: relative;
    width: 100%;
    text-align: center;
    font: 20px/27px Oxygen;
    letter-spacing: 2px;
    color: #2E2E2E;
    padding-bottom: 16px;
}

.main-middle-block__divider_dark::after
{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(50% - 94px);
    width: 188px;
    height: 1px;
    background-color: #DEDEDE;
}

.main-middle-block__featured-post
{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 0 344px;
    min-height: 280px;
    border-radius: 3px;
    padding: 0 20px;
}

.featured-post__title_light
{
    font: 27px/30px Lora;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: auto;
}

.featured-post__subtitle_light
{
    font: 14px/25px Oxygen;
    color:#FFFFFFB2;
    margin: 6px 0 12px;
}

.featured-post__author-info_light
{
    display: flex;
    align-items: center;
    width: auto;
    margin-bottom: 15px;
    padding: 5px 0 4px;
}

.featured-post__author-name_light
{
    font: 12px Oxygen;
    text-decoration: none;
    color:#FFFFFFB2;
    margin: 0 10px;
}

.featured-post__date_light
{
    font: 12px Oxygen;
    color:#FFFFFFB2;
    min-width: fit-content;
    margin-left: auto;
}

.featured-post__label
{
    text-align: center;
    font: 12px/26px Oxygen;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 87px;
    background-color: #DD783F;
    border-radius: 2px;
    margin-top: 20px;
}

.main-middle-block__recent-posts
{
    max-width: 940px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 25px;
    column-gap: 24px;
    padding: 60px 2px 19px;
}

.main-middle-block__recent-post
{
    display: flex;
    flex-direction: column;
    flex: 1 0 221px;
    min-height: 291px;
    border-radius: 3px;
    background-color: #FFFFFF;
}

.recent-post__image
{
    width: 100%;
    height: 150px;
}

.recent-post__title_dark
{
    font: 16px/21px Lora;
    text-decoration: none;
    color: #101315;
    margin: 14px 13px 6px;
}

.recent-post__subtitle_dark
{
    font: 13px/19px Oxygen;
    color: #7A7A7A;
    margin: 0 13px auto;
}

.recent-post__author-info_dark
{
    display: flex;
    align-items: center;
    width: auto;
    padding: 12px 13px 10px;
    border-top: 1px solid #EFEFEF;
    margin-top: 13px;
}

.recent-post__author-pic
{
    min-width: 26px;
    max-width: 26px;
    min-height: 26px;
    max-height: 26px;
    border-radius: 60px;
}

.recent-post__author-name_dark
{
    font: 11px Oxygen;
    text-decoration: none;
    color: #999999;
    margin: 0 10px;
}

.recent-post__date_dark
{
    font: 12px Oxygen;
    color:#999999;
    min-width: fit-content;
    margin-left: auto;
}

.bottom-block
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url('/static/img/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom-block__content
{
    padding: 0 20px;
}

.bottom-block__divider_light
{
    position: relative;
    width: 100%;
    text-align: center;
    font: 25px/30px Oxygen;
    color: #EFEFEF;
    margin: 81px auto 20px;
    padding-bottom: 17px;
}

.bottom-block__divider_light::after
{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: calc(50% - 94px);
    width: 188px;
    height: 1px;
    background-color: #DEDEDE;
}

.bottom-block__form
{
    display: flex;
    max-width: 500px;
    width: 100%;
    height: 50px;
    margin: 0 auto;
}

.form__input
{
    width: 100%;
    text-overflow: ellipsis;
    outline: none;
    background-color: #FFFFFF;
    padding: 0 35px;
    border-radius: 3px 0 0 3px;
}

:focus::-webkit-input-placeholder 
{
    color: transparent;
}

:focus::-moz-placeholder
{
    color: transparent
}
  
:focus:-moz-placeholder
{
    color: transparent
}
  
:focus:-ms-input-placeholder
{
    color: transparent
}

.form__button
{
    min-width: 125px;
    height: 100%;
    color: #F8F8F8;
    background-color: #FFFFFF47;
    border-radius: 0 3px 3px 0;
}

.form__button:hover
{
    background-color: #FFFFFF80;
    cursor: pointer;
}

.bottom-block__footer
{
    background-color: #232F3899;
    border-top: 1px solid #FFFFFF1F;
    margin-top: 90px;
    padding: 30px;
}

.bottom-block__menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}

.menu__items_transparent
{
    display: flex;
    justify-content: space-between;
    max-width: 272px;
    width: 100%;
    font: 11px Oxygen;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.menu__item_transparent
{
    color: #FFFFFF99;
    text-decoration: none;
}

.menu__item_transparent:hover
{
    color: #FFFFFF99;
    text-decoration: underline;
}

.article-top-block
{
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
}

.menu__logotype_dark
{
    font: 26px/1 Lora;
    color: #2E2E2E;
}

.menu__item_dark
{
    color: #2E2E2E;
    text-decoration: none;
}

.menu__item_dark:hover
{
    color: #2E2E2E;
    text-decoration: underline;
}

.article-top-block__title
{
    font: 50px/1 Lora;
    letter-spacing: 2px;
    text-align: center;
    color: #2E2E2E;
    margin-top: 104px;
}

.article-top-block__subtitle
{
    font: 17px/20px Oxygen;
    text-align: center;
    color: #2E2E2EA1;
    margin: 20px 20px 113px;
}

.filler__image
{
    width: 100%;
    height: 534px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
}

.article-middle-block
{
    background-color: #F7F7F7;
    padding: 140px 20px 135px;
}

.article-middle-block__paragraph
{
    font: 24px/35px Oxygen;
    color: #101315;
    max-width: 960px;
    margin: 0 auto 35px;
    text-align: justify;
}

.admin-login-page
{
    width: 100%;
    height: 100vh;
    background-image: url('/static/img/login_page_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.admin-login-page_filter
{
    width: 100%;
    height: 100%;
    background-color: #42464966;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-login-page__main-block
{
    max-width: 1180px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.admin-login-page__title-block
{
    margin: 213px 0 0 100px;
}

.admin-login-page__title
{
    margin-bottom: 16px;
}

.admin-login-page__title_big
{
    font: 45.5px/1 Lora;
    color: #FFFFFF;
}

.admin-login-page__title_small
{
    font: 24.5px/31px Oxygen;
    color: #FFFFFF;
}

.admin-login-page__subtitle
{
    font: 17px/25px Oxygen;
    color: #FFFFFF;
}

.admin-login-page__login-window
{
    max-width: 480px;
    width: 100%;
    height: 560px;
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 56px 40px 0;
    display: flex;
    flex-direction: column;
}

.login-window__title
{
    font: 34px/40px Lora;
    color: #000000;
    margin-bottom: 10px;
}

.login-window__error
{
    max-width: 480px;
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
    background-color: #FFEBEA;
    border-left: 2px solid #E86961;
    border-radius: 5px;
    margin-top: 0;
    padding: 0 12px;
    overflow: hidden;
    transition: all 0.3s;
}

.login-window__error-message
{
    font: 14px/20px Oxygen;
    color: #2E2E2E;
    margin-left: 10px;
}

.show-error
{
    height: 44px;
    margin-top: 30px;
}

.login-window__empty-field-error
{
    font: 12px/16px Oxygen;
    color: #E86961;
    margin-top: 5px;
}

.red-error-underline
{
    border-bottom: 1px solid #E86961 !important;
}

.login-window__form-names
{
    font: 12px/16px Oxygen;
    color: #7A7A7A;
    margin-top: 40px;
}

.login-window__email-input
{
    min-width: 300px;
    max-width: 400px;
    height: 40px;
    text-overflow: ellipsis;
    outline: none;
    border-bottom: 1px solid #EAEAEA;
    border-radius: 5px 5px 0 0;
    background-color: #FFFFFF;
    margin-top: 5px;
    padding: 8px 4px;
    font: 16px/24px Oxygen;
    color: #2E2E2E;
}

.login-window__email-input:focus
{
    border-bottom: 1px solid #2E2E2E;
    background-color: #F7F7F7;
}

.login-window__password-input
{
    position: relative;
}

.login-window__password-field
{
    min-width: 300px;
    max-width: 400px;
    width: 100%;
    height: 40px;
    text-overflow: ellipsis;
    outline: none;
    border-bottom: 1px solid #EAEAEA;
    border-radius: 5px 5px 0 0;
    font: 16px/24px Oxygen;
    color: #2E2E2E;
    background-color: #FFFFFF;
    margin-top: 5px;
    padding: 8px 32px 8px 4px;
}

.login-window__password-field:focus
{
    border-bottom: 1px solid #2E2E2E;
    background-color: #F7F7F7;
}

.login-window__password-toggle
{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    right: 4px;
    cursor: pointer;
    background-image: url('/static/img/eye-off.png');
}

.hide-password
{
    background-image: url('/static/img/eye.png');
}

.login-window__login-button
{
    min-width: 93px;
    height: 48px;
    border-radius: 3px;
    font: 16px/24px Oxygen;
    color: #FFFFFF;
    background-color: #DD783F;
    margin-top: 40px;
}

.login-window__login-button:hover
{
    background-color: #DB6622;
    cursor: pointer;
}

.login-window__login-button:active
{
    scale: 0.87;
}

.admin-page
{
    background-color: #F7F7F7;
}

.admin-page__admin-page-header
{
    background-color: #2E2E2E;
    padding: 17px 0;
}

.admin-page-header__title-area
{
    max-width: 1180px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.admin-page-header__title_small
{
    font: 14px/17px Oxygen;
    color: #FFFFFF;
}

.admin-page-header__avatar-and-exit-block
{
    display: flex;
}

.admin-page-header__profile-pic
{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #DD783F;
    margin: 4px 8px;
}

.admin-page__admin-new-post
{
    max-width: 1180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 64px auto 32px;
}

.admin-new-post__title-and-subtitle
{
    display: flex;
    flex-direction: column;
}

.admin-new-post__title
{
    font: 34px/40px Lora;
    color: #000000;
    margin-bottom: 8px;
}

.admin-new-post__subtitle
{
    font: 14px/20px Oxygen;
    color: #2E2E2EA1;
}

.admin-new-post__button
{
    min-width: 100px;
    height: 48px;
    border-radius: 3px;
    font: 16px/24px Oxygen;
    color: #FFFFFF;
    background-color: #DD783F;
}

.admin-new-post__button:hover
{
    background-color: #DB6622;
    cursor: pointer;
}

.admin-new-post__button:active
{
    scale: 0.87;
}

.admin-page__publish-error
{
    max-width: 1180px;
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
    background-color: #FFEBEA;
    border-left: 2px solid #E86961;
    border-radius: 5px;
    margin: 0 auto;
    padding: 0 12px;
    overflow: hidden;
    transition: all 0.3s;
}

.admin-page__publish-ok
{
    max-width: 1180px;
    width: 100%;
    height: 0;
    display: flex;
    align-items: center;
    background-color: #E6FCEF;
    border-left: 2px solid #67C38C;
    border-radius: 5px;
    margin: 0 auto;
    padding: 0 12px;
    overflow: hidden;
    transition: all 0.3s;
}

.show-publish-status
{
    height: 44px;
    margin-bottom: 16px;
}

.admin-page__admin-main-information
{
    max-width: 1180px;
    border-radius: 3px;
    background-color: #FFFFFF;
    padding: 40px 40px 56px;
    margin: 0 auto;
}

.admin-main-information__title
{
    font: 27px/30px Lora;
    color: #000000;
    margin-right: auto;
}

.admin-main-information__main-block
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
}

.admin-main-information__upload-part
{
    max-width: 640px;
    min-width: 296px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.upload-part__upload-titles
{
    font: 12px/16px Oxygen;
    color: #7A7A7A;
    margin: 40px 0 5px;
}

.upload-part__data-input
{
    max-width: 560px;
    height: 40px;
    text-overflow: ellipsis;
    outline: none;
    border-bottom: 1px solid #2E2E2E;
    border-radius: 5px 5px 0 0;
    background-color: #F7F7F7;
    padding: 8px 4px;
    font: 16px/24px Oxygen;
    color: #2E2E2E;
}

.upload-part__author-name-input
{
    max-width: 560px;
    height: 40px;
    text-overflow: ellipsis;
    outline: none;
    border-bottom: 1px solid #EAEAEA;
    border-radius: 5px 5px 0 0;
    background-color: #FFFFFF;
    padding: 8px 4px;
    font: 16px/24px Oxygen;
    color: #2E2E2E;
}

.upload-part__author-name-input:focus
{
    border-bottom: 1px solid #2E2E2E;
    background-color: #F7F7F7;
}

.upload-part__author-photo
{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.upload-part__profile-photo
{
    width: 48px;
    height: 48px;
    background-color: #F7F7F7;
    border: 1px dashed #D3D3D3;
    border-radius: 50%;
    background-image: url('/static/img/camera.png');
    background-repeat: no-repeat;
    background-position: 50%;
    margin-right: 16px;
}

.upload-part__profile-photo-placeholder
{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 16px;
}

.hidden
{
    display: none;
}

.hidden-important
{
    display: none !important;
}

.flex
{
    display: flex;
}

.upload-part__hidden-input
{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload-part__upload-photo
{
    font: 16px/24px Oxygen;
    color: #2E2E2E;
    cursor: pointer;
}

.upload-part__remove-photo
{
    font: 16px/24px Oxygen;
    color: #E86961;
}

.upload-part__upload-new-photo
{
    display: flex;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
}

.upload-part__icon
{
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.upload-part__upload-photo_big
{
    max-width: 560px;
    height: 160px;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    border: 1px dashed #D3D3D3;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 12px;
}

.upload-part__upload-photo_big-placeholder
{
    max-width: 560px;
    width: 100%;
    height: 160px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 12px;
}

.upload-part__upload
{
    font: 16px/24px Oxygen;
    color: #2E2E2E;
    margin-left: 8px;
}

.upload-part__hint
{
    font: 12px/16px Oxygen;
    color: #999999;
}

.upload-part__upload-photo_small
{
    max-width: 296px;
    height: 150px;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    border: 1px dashed #D3D3D3;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 12px;
}

.upload-part__upload-photo_small-placeholder
{
    max-width: 296px;
    width: 100%;
    height: 160px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 12px;
}

.admin-main-information__preview-part
{
    max-width: 440px;
    min-width: 296px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.preview-part__preview-titles
{
    font: 14px/20px Oxygen;
    color: #7A7A7A;
    margin: 40px 0 16px;
}

.preview-part__wrap-for-preview
{
    max-width: 440px;
    width: 100%;
    position: relative;
}

.preview-part__preview
{
    width: 100%;
    border: 1px solid #D3D3D3;
    border-radius: 30px 30px 0 0;
    padding: 32px 16px 0;
}

.article-preview__gradient_right
{
    width: 119px;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0;
    background: linear-gradient(to right, #FFFFFF00, #FFFFFF);
}

.article-preview__gradient_bottom
{
    width: 100%;
    height: 72px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(#FFFFFF00, #FFFFFF);
}

.article-preview__content
{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
}

.article-preview__header
{
    width: 100%;
    display: flex;
    border-bottom: 1px solid #EAEAEA;
    padding: 9px;
}

.article-preview__dots
{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #D9D9D9;
    margin-right: 3px;
}

.article-preview__title-block
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 13px;
}

.article-preview__title
{
    font: 20px/24px Lora;
    color: #2E2E2E;
    text-align: center;
    margin: 36px 0 4px;
}

.article-preview__subtitle
{
    font: 10px/12px Oxygen;
    color: #2E2E2EA1;
    text-align: center;
    margin-bottom: 36px;
}

.article-preview__photo
{
    width: 100%;
    height: 160px;
    background-color: #F7F7F7;
    margin-bottom: 58px;
}

.article-preview__photo-placeholder
{
    width: 100%;
    height: 160px;
    margin-bottom: 58px;
}

.postcard-preview__content
{
    max-width: 296px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #EAEAEA;
    margin-bottom: 37px;
}

.postcard-preview__photo
{
    width: 100%;
    height: 150px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #EAEAEA;
}

.postcard-preview__photo-placeholder
{
    width: 100%;
    height: 150px;
}

.postcard-preview__title-block
{
    width: 100%;
    min-height: 93px;
    display: flex;
    flex-direction: column;
    padding: 14px 13px;
}

.postcard-preview__title
{
    font: 16px/21px Lora;
    color: #101315;
    margin-bottom: 7px;
}

.postcard-preview__subtitle
{
    font: 13px/19px Oxygen;
    color: #7A7A7A;
}

.postcard-preview__author-data
{
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #EAEAEA;
    padding: 12px 13px 10px;
}

.postcard-preview__author-pic
{
    min-width: 26px;
    max-width: 26px;
    min-height: 26px;
    max-height: 26px;
    border-radius: 50%;
    background-color: #F7F7F7;
}

.postcard-preview__author-pic-placeholder
{
    min-width: 26px;
    max-width: 26px;
    min-height: 26px;
    max-height: 26px;
    border-radius: 50%;
}

.postcard-preview__author-name
{
    font: 12px Oxygen;
    text-decoration: none;
    color: #999999;
    margin: 0 10px;
}

.postcard-preview__date
{
    font: 12px Oxygen;
    color:#999999;
    min-width: fit-content;
    margin-left: auto;
}

.admin-page__admin-content
{
    max-width: 1180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin: 16px auto;
    padding: 40px 40px 56px;
}

.admin-content__title
{
    font: 27px/30px Lora;
    color:#000000;
}

.admin-content__subtitle
{
    font: 12px/16px Oxygen;
    color: #7A7A7A;
    margin: 40px 0 5px;
}

.admin-content__input
{
    max-width: 940px;
    min-width: 296px;
    min-height: 160px;
    max-height: 400px;
    outline: none;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    padding: 8px;
    font: 16px/24px Oxygen;
    color: #2E2E2E;
}

@media screen and (max-width: 1024px) 
{
    .main-middle-block__featured-posts
    {
        column-gap: 14px;
    }

    .main-middle-block__recent-posts
    {
        column-gap: 18px;
    }
}

@media screen and (min-width: 768px)
{
    .main-middle-block__recent-post
    {
        flex-basis: 30%;
        max-width: 296px;
    }    
}

@media screen and (max-width: 550px)
{
    .main-top-block__menu
    {
        padding: 20px 20px 0;
    }

    .menu__items_solid
    {
        display: none;
    }

    .menu__burger-button
    {
        display: inline;
    }

    .main-top-block__heading
    {
        margin-top: 80px;
        padding-bottom: 70px;
    }

    .heading__title
    {
        max-width: 300px;
        margin: 0 auto;
    }

    .heading__subtitle
    {
        max-width: 320px;
        margin: 20px auto 31px;
    }

    .subjects
    {
        flex-wrap: wrap;
        row-gap: 25px;
    }

    .main-middle-block
    {
        padding: 0 20px 89px;
    }

    .main-middle-block__featured-posts
    {
        padding: 47px 0 7px;
    }

    .main-middle-block__recent-post
    {
        flex: 1 0 245px;
    }

    .bottom-block__footer
    {
        margin-top: 77px;
    }

    .bottom-block__menu
    {
        align-items: normal;
    }

    .menu__items_transparent
    {
        flex-direction: column;
        align-items: flex-end;
        row-gap: 15px;
    }
}

@media screen and (max-width: 480px)
{
    
}