<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Escape</title>
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main-top-block">
      <header class="main-top-block__menu menu">
        <span class="menu__logotype_light">Escape.</span>
        <nav class="menu__items_solid">
          <a title="HOME" href="/home" class="menu__item_light">HOME</a>
          <a title="CATEGORIES" href="#" class="menu__item_light">CATEGORIES</a>
          <a title="ABOUT" href="#" class="menu__item_light">ABOUT</a>
          <a title="CONTACT" href="#" class="menu__item_light">CONTACT</a>
        </nav>
      </header>
      <div class="main-top-block__heading heading">
        <h1 class="heading__title">Let's do it together.</h1>
        <p class="heading__subtitle">We travel the world in search of stories. Come along for the ride.</p>
        <a title="View Latest Posts" href="#" class="heading__button">View Latest Posts</a>
      </div>
    </div>
    <nav class="subjects">
      <a title="Nature" href="#" class="subjects__item">Nature</a>
      <a title="Photography" href="#" class="subjects__item">Photography</a>
      <a title="Relaxation" href="#" class="subjects__item">Relaxation</a>
      <a title="Vacation" href="#" class="subjects__item">Vacation</a>
      <a title="Travel" href="#" class="subjects__item">Travel</a>
      <a title="Adventure" href="#" class="subjects__item">Adventure</a>
    </nav>
    <div class="main-middle-block">
      <div class="main-middle-block__featured-posts">
        <h2 class="main-middle-block__divider_dark">Featured Posts</h2>
        {{ range .FeaturedPosts }}
        <div class="main-middle-block__featured-post" style="background-image: url('{{ .ImgModifier }}')">
          <a title="{{ .Title }}" href="{{ .PostURL }}" class="featured-post__title_light">{{ .Title }}</a>
          <p class="featured-post__subtitle_light">{{ .Subtitle }}</p>
          <div class="featured-post__author-info_light">
            <img src="{{ .AuthorImg }}" alt="{{ .Author }}">
            <a title="{{ .Author }}" href="#" class="featured-post__author-name_light">{{ .Author }}</a>
            <span class="featured-post__date_light">{{ .PublishDate }}</span>
          </div>
        </div>
        {{ end }}
      </div>
      <div class="main-middle-block__recent-posts">
        <h2 class="main-middle-block__divider_dark">Most Recent</h2>
        {{ range .RecentPosts }}
        <div class="main-middle-block__recent-post recent-post">
          <img src="{{ .ImgModifier }}" alt="{{ .Title }}" class="recent-post__image">
          <a title="{{ .Title }}" href="{{ .PostURL }}" class="recent-post__title_dark">{{ .Title }}</a>
          <p class="recent-post__subtitle_dark">{{ .Subtitle }}</p>
          <div class="recent-post__author-info_dark">
            <img src="{{ .AuthorImg }}" alt="{{ .Author }}" class="recent-post__author-pic">
            <a title="{{ .Author }}" href="#" class="recent-post__author-name_dark">{{ .Author }}</a>
            <span class="recent-post__date_dark">{{ .PublishDate }}</span>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    <div class="bottom-block">
      <h2 class="bottom-block__divider_light">Stay in Touch</h2>
      <form class="bottom-block__form form" action="#">
        <input class="form__input" type="text" placeholder="Enter your email address" name="name">
        <input class="form__button" type="submit" value="Submit">
      </form>
      <footer class="bottom-block__footer">
        <div class="bottom-block__menu menu">
          <span class="menu__logotype_light">Escape.</span>
          <nav class="menu__items_transparent">
            <a title="HOME" href="/home" class="menu__item_transparent">HOME</a>
            <a title="CATEGORIES" href="#" class="menu__item_transparent">CATEGORIES</a>
            <a title="ABOUT" href="#" class="menu__item_transparent">ABOUT</a>
            <a title="CONTACT" href="#" class="menu__item_transparent">CONTACT</a>
          </nav>
        </div>
      </footer>
    </div>
  </body>
</html>